.modalOpen {
  overflow: hidden;
}

.modalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(209, 213, 219, 0.8);
  z-index: 1000;
}

.modalContent {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  padding: 2.5rem;
  background-color: var(--color-white-1);
  z-index: 1001;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
