.upload {
  width: 360px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 35px;
  background: var(--color-white-1);
  border: none;
  margin-right: 10px;
}

.send {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 15px 27px;
  font-size: 35px;
  background: var(--color-gray-1);
  color: var(--color-gray-2);
  border: none;
  font-weight: 700;
}

.send.active {
  background: var(--color-green-2);
  color: var(--color-black-1);
}

.upload.active {
  background: var(--color-green-2);
  color: var(--color-black-1);
}

.upload.error {
  background: var(--color-orange-1);
  color: var(--color-white-1);
}

.upload.file {
  background: var(--color-pink-3);
  color: var(--color-black-1);
}

.upload.processed {
  background: var(--color-green-1);
}

.upload.loading {
  background: var(--color-pink-3);
  color: var(--color-black-1);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-white-1);
  border-right-color: var(--color-green-2);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
