.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}

.wrapperFull {
  height: 30vh;
}

.title {
  font-size: 40px;
  color: var(--color-pink-3);
}

.gridContainer {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  margin: auto;
}

.block {
  background-color: var(--color-white-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
