.wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0px 40px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background: var(--color-pink-3);
  padding: 30px;
  border-radius: 40px;
  margin-bottom: 5px;
  margin-right: 40px;
  cursor: pointer;
}

.delete {
  height: 90px;
  width: 90px;
  background: var(--color-white-1);
  border: none;
  border-radius: 20px;
}

.smile {
  background: url('../../assets/svg/smile-pic.svg') no-repeat right center;
}

.sad {
  background: url('../../assets/svg/sad-pic.svg') no-repeat right center;
}

.trash {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  background: url('../../assets/svg/trash-pic.svg') no-repeat center;
}

.file {
  background: url('../../assets/svg/file-pic.svg') no-repeat left center;
}

.error {
  opacity: 0.5;
}
